<nb-card>
  <nb-card-header>Nebula</nb-card-header>
  <nb-card-body>

    <div class="row">
      <div class="col-md-10">
        <nb-card>
          <nb-card-header>Colored Alert</nb-card-header>
          <nb-card-body>
            <nb-alert status="primary">You have been successfully authenticated!</nb-alert>
            <nb-alert status="success">You have been successfully authenticated!</nb-alert>
            <nb-alert status="info">You have been successfully authenticated!</nb-alert>
            <nb-alert status="warning">You have been successfully authenticated!</nb-alert>
            <nb-alert status="danger">You have been successfully authenticated!</nb-alert>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

  </nb-card-body>
</nb-card>
